.form_label{

	font-size: 16px;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}

.form_text{
	font-size: 14px;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}

.t_head{
	font-size: 16px;
	height: 40px;
	background-color: #3e4551;
	color: #fff;
	text-align: center;
	font-style: normal;
	line-height: normal;
}

.t_head th{
	text-align: center;
}

.upperpart{
	padding-bottom: 20px;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f2f2f2;
}