.text-center{
	text-align: center;

}
.bold{
	font-style: bold;
	font-weight: 700;
}
.mt20{
	margin-top: 20px;
}

.mart10{
	padding-left:10px;
}
.ml22{
	margin-left: 40px;

}

.pdl{
	padding: 5px;
}

.border1.border2{
	border: 0.5px solid #aaa;
	width: auto;
	margin-right: 10px /*!important;*/
	height: 140px;
}

.border2{
	margin-left: 10px ;
}



