.calendar {
    display: block;
    padding-left: 1px;
    position: absolute;
    width: auto;
    background: var(--neutral-color);
    border: 1px solid #171616;
}
table.calendar {
  border-collapse: inherit;
  /*margin: auto;*/
}

table.calendar thead {
  background-color: #3abfb6;
    color: #000;
    font-size: 12px;
    font-weight: bolder;
    margin-bottom: 3px;
    border-bottom: 2px solid black;
}

table.calendar thead th {
  font-weight: bolder;
    padding: 10px 12px;
    border-right: 0.2px solid black;
    /* border-left: 0.2px solid black; */
    border-top: 0.4px solid black;
    border-bottom: 0.4px solid black;
}

table.calendar thead th.bolder {
  font-weight: bold;
}

table.calendar tbody {
  font-size: 12px;
  text-decoration: none !important;
}

table.calendar td {
  text-align: center;
  padding: 8px;
  cursor: pointer;
  border: 1px solid rgba(185, 185, 185, 0.13);
  min-width: 15px;
}

table.calendar tr:last-child td {
  border-bottom: none;
}

table.calendar td.month-name {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  cursor: default;
  border-left: none;
}

table.calendar td.prev-month,
table.calendar td.next-month {
  color: transparent;
  cursor: default;
  pointer-events: none;
}

table.calendar td.week-separator {
  pointer-events: none;
  padding: 0px !important;
  width: 0px;
  min-width: 0;
}

table.calendar td.absent {
  background-color: #d9534f;
   color: black;
}
table.calendar td.half {
  background-color: #f0ad4e;
   color: black;
}
/*table.calendar td.summer {
  background-color: rgba(255, 232, 91, 0.32);
}
table.calendar td.autumn {
  background-color: rgba(246, 151, 60, 0.32);
}*/
table.calendar td.present {
  font-weight: bold;
   color: black;
  text-decoration: none;
  background-color: #337ab7;
}
table.calendar td.weekend {
  font-weight: bold;
  color: black;
  background-color: #bbb;
}

table.calendar td.bolder {
  font-weight: bold;
}

table.calendar td.winter.range,
table.calendar td.winter.selected {
  background-color: rgba(159, 220, 249, 1);
  font-weight: bold;
}
table.calendar td.spring.range,
table.calendar td.spring.selected {
  background-color: rgba(145, 212, 110, 1);
  font-weight: bold;
}
table.calendar td.summer.range,
table.calendar td.summer.selected {
  background-color: rgba(255, 232, 91, 1);
  font-weight: bold;
}
table.calendar td.autumn.range,
table.calendar td.autumn.selected {
  background-color: rgba(246, 151, 60, 1);
}

div.calendar-controls {
  margin: 5px auto;
  display: table;
  font-size: 25px;
  line-height: 35px;
}

div.calendar-controls div {
  display: inline;
}

div.calendar-controls .current-year {
  margin: 0 30px;
}

div.calendar-controls .control {
  font-weight: bolder;
  color: #323232;
  font-size: 0.8em;
  cursor: pointer;
}

div.calendar-controls .today {
  position: absolute;
  right: 15px;
  line-height: 35px;
  font-size: 0.6em;
  text-transform: uppercase;
}

/* Demo */

div#calendar {
  position: relative;
     border-radius: 5px; 
     border: 0px solid #5A5A5A !important; 
    background-color: white;
    overflow: visible;
}

div#root {
  display: table;
  margin: 50px auto;
}


div.options {
  border: 1px solid #B9B9B9;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 30px;
}

div.options select {
  margin-left: 10px;
}

div.options .half {
  width: 48%;
  display: inline-table;;
}

div.options textarea {
  height: 320px;
  width: 100%;
  resize: vertical;
  padding: 5px;
}

div.options textarea.error {
  border-color: darkred;
  box-shadow: darkred 0 0 5px inset;
}

div.options .half a {
  font-size: 0.7em;
  margin-left: 10px;
}

p.interactiveDemo {
  font-style: italic;
}

p.interactiveDemo i {
  background-color: #E2E2E2;
  font-style: normal;
  font-family: monospace;
  padding: 2px 5px;
}
