.headerComp{
	height: 50px;
	background-color: #2A88BC;
}



.glyphicon{
	color: #fff;
}




.barIcon{
	height: 60px;
	padding-top: 18px;
	font-size: 15px;

}

.userDetails{
	height: 20px;

}

.headerFont{
  color: #fff;

}


.headerFont:hover{
background-color:none;
}

.userImg{
    padding-left: 15px;
	height: 10px;
  padding-top: 25px;
 
	

}

.uname{
	padding-top: 15px;
	font-size: 12px;
	color:#fff;


}

.uname1{
	padding-top: 15px;
	font-size: 12px;
	color:#fff;



}



.online{
	color: #fff;
	font-size: 12px;

}


#imaginary_container{
    margin-top:10%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}


.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;

}
.stylish-input-group button{
    border:0;
    background:transparent;

}

.mainNav{
		height: 30px;
	font-size: 11px;
	color: #4b646f;
	padding-top: 10px;
	background-color: #1a2226;
	margin-top: 10px;
}


.headicon{
	font-size: 13px;
	font-weight: bold;
	padding-top: 20px;
	color: #fff;
}

.imgUser{
	height: 35px;

	padding-left: 25px;
  border-radius: 0%;
   
}




.imgtext:hover{
cursor: pointer;
background-color: #357ca5;
height: 50px;

}


.imgtext{
  font-size: 13px;
   padding-left: 10px;
   padding-top: 15px;
    color: #fff;
text-align: center;
padding-right: 15px;

}

.imgtext1{
  font-size: 13px;
    padding-right: 15px;
   padding-top: 8px;
    color: #fff;


}


.imgtext1:hover{
cursor: pointer;
background-color: #357ca5;
height: 50px;
}

.tbtn{
 /* float: left;*/
  width: 50px;
    color: #fff;
    margin-left: 200px;
}


.btn-expand-collapse {
   /* position: absolute;*/
    display: block;
    left: 0px;
    bottom:0;
   height: 50px;
    padding: 8px 0;
   
    font-size: 20px;
    text-align: center;
}


.btn-expand-collapse:hover {
    background-color: #357ca5;
    color: #fff;
}

.btn-expand-collapse:active {
     background-color: #357ca5;
}



@media (max-width: 991px) {
  .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;
  }
  .content-header > .breadcrumb li:before {
    color: #97a0b3;
  }
}



.navbar-global {
  background-color: #3c8dbc;
}

.navbar-global .navbar-brand {
  color: white;
}

.navbar-global .navbar-user > li > a
{
  color: white;
}

.navbar-primary {
  height: 2210px; 
  background-color: #222d32;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 230px;
  z-index: 8;
  overflow: visible;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/*.btn-expand-collapse .tbtn{
  margin-left: 100px;
}*/

.navbar-primary.collapsed ,.navbar-primary.collapsed .logo{
  width: 60px;
}
 /*.navbar-primary.collapsed #profilepic{
  height: 40px;
  width: 40px;
 }*/

.navbar-primary.collapsed .glyphicon {
  font-size: 20px;
}
.navbar-primary.collapsed .profile img{
  padding-left: 5px;
}
.navbar-primary.collapsed .logo > .logo-mini{
  display: block;
  
}

.navbar-primary.collapsed .logo > .logo-lg {
  display: none;
}

.navbar-primary.collapsed .info, .navbar-primary.collapsed .sidebar-form {
  display: none;
}

.navbar-primary.collapsed #collapse1 ,.navbar-primary.collapsed #collapse2 , .navbar-primary.collapsed #collapse3 ,
.navbar-primary.collapsed #collapse4 , .navbar-primary.collapsed #collapse5 , .navbar-primary.collapsed #collapse6 ,
.navbar-primary.collapsed #collapse7 ,
.navbar-primary.collapsed #collapse8 ,
.navbar-primary.collapsed #collapse9 , .navbar-primary.collapsed .myhead, .navbar-primary.collapsed .mylabel{
  display: none;
}

.navbar-primary.collapsed .nav-label  {
  display: none;
}

.btn-expand-collapse {
   /* position: absolute;*/
    display: block;
    left: 0px;
    bottom:0;
   height: 50px;
    padding: 8px 0;
   
    font-size: 20px;
    text-align: center;
}


.btn-expand-collapse:hover {
    background-color: #357ca5;
    color: #fff;
}

.btn-expand-collapse:active {
     background-color: #357ca5;
}

.upper{
  height: 170px;
}

.sidebar-form input:focus {
  border-color: transparent;
}
.navbar-primary-menu,
.navbar-primary-menu li {
	margin:0; padding:0;
	list-style: none;
}

.navbar-primary-menu li a {
	display: block;
	padding: 10px 18px;
	text-align: left;
	border-bottom:solid 1px #444;
	color: #ccc;
}

.navbar-primary-menu li a:hover {
	background-color:     #1e282c;
	text-decoration: none;
	color: white;
}

.navbar-primary-menu li a .glyphicon {
	margin-right: 6px;
}

/*.navbar-primary-menu li a:hover .glyphicon {
  color: orchid;
}*/

.main-content {

  margin-left: 230px;

    height:1857px;
}

.collapsed + .main-content {
  margin-left: 60px;
}

.tbtn{
 /* float: left;*/
  width: 50px;
    color: #fff;
    margin-left: 0px;
}

 .logo-lg {
  display: block;
}
 .logo-mini {
  display: none;
}


.logo {
	text-decoration: none;
	background-color: #367fa9;
	color: #ffffff;
	border-bottom: 0 solid transparent;
	display: block;
	float: left;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	width: 230px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 15px;
	font-weight: 300;
	overflow: hidden;

}