.color-label{
	list-style: none;
	font-size: 15px;
	padding-top: 30px;
}
.color-label li{
	float: left;
	margin-left: 20px;
	padding: 0px;
}
.label{
	display: block !important;
	width: 30px;
	height: 20px;
}
.color-label p{
	margin: -20px 40px 0px;
	font-size: 15px;
}
.tab a{
	font-size: 18px;
	color: black !important;
}
.tab ul{
	list-style: none;
}
.tab ul li{
	float: left;
	margin-left: 30px;
}
.tab p{
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}